<h1> Learn {{ title}}</h1>
<p>Basice usage of Express (nodejs framework)
     and connected with MongoDB by different ways</p>

<a href="/posts">Posts by Monk</a>
<a href="/articles">Articles by MongoClient</a>
<a href="/customers">Customers by Mongoose</a>
<a href="/auth/signup">SignUp Page</a>

    <footer>
        
    <p>By {{ author }}</p>
    </footer>
